#!/usr/bin/make -f
%:
	dh $@

build:
	dh build
	pod2man -c pristine-tar pristine-tar > pristine-tar.1
	pod2man -c pristine-gz  pristine-gz  > pristine-gz.1
	pod2man -c pristine-bz2 pristine-bz2 > pristine-bz2.1
	pod2man -c zgz zgz.pod > zgz.1

binary-arch: build
	dh binary-arch --until dh_prep
	dh_install pristine-tar pristine-gz pristine-bz2 zgz usr/bin
	dh_installdocs TODO delta-format.txt
	dh_installman *.1
	dh binary-arch --remaining

binary: binary-indep binary-arch
